<section class="comment">
  <p><%= comment.author.name %>: </p>
  <p><%= comment.text %></p>
  <div class="comment-interactions">
    <% if can? :destroy, comment %>
      <%= link_to "Delete", user_post_comment_path(user_id: comment.post.author.id, post_id: comment.post.id, id: comment.id), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
</section>
