<nav>
  <ul>
    <li><%= link_to "Inkwell Blog", root_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Posts", user_posts_path(current_user) %></li>
    <li><p>Current user: <%= current_user.name %></p></li>
  </ul>
</nav>
