<%= link_to "Go Back", user_path(@user) %>
<%= render 'shared/user', user: @user %>
<ul class="posts-list">
  <% @user.posts.each do |post| %>
    <li class="posts-list-li">
      <%= render 'shared/post', post: post %>
      <% if post.comments.count > 0 %>
        <ul class="comments-list">
          <% post.recent_comments.reverse.each do |comment| %>
            <%= render 'shared/comment', comment: comment %>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
<button>pagination</button>
