@import "application";

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  div {
    margin-bottom: 1rem;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input[type="text"],
    textarea {
      padding: 0.5rem;
      border: 1px solid gray;
      border-radius: 3px;
      width: 100%;
      font-size: 1rem;
      color: $text-color;
    }
  }

  input[type="submit"] {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
