nav {
  background-color: #333;
  overflow: hidden;
  width: 100%;

  ul {
    display: flex;

    li {

      a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;

        &:hover {
          background-color: #111;
        }
      }

      p {
        color: rgb(64, 156, 126);
        padding: 14px 16px;
      }

      &.active {
        background-color: #4CAF50;
      }
    }
  }
}
